hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.row {
    border: 5px solid red;
    padding: 7px;
    margin: 7px;
}

#card-header {
 
   margin-top: 20px;

}

#card-header1 {
 
    background: linear-gradient(#cabd0d7a, #0000006c);
    color: black;

}